*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    background: rgb(0, 0, 0, 0.4) url(Espresso.jpg);
    background-size: cover;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 80px;
}
.nav-bar .title{
    color:white;
    font-size: 67px;
    font-weight: 600;
    cursor: pointer;
}
span{
    color: crimson;
}
.nav-bar p{
    position: absolute;
    margin-top: 90px;
    margin-left: 50px;
    color: rgb(110, 83, 63);
    font-size: 20px;
    font-weight: 500;
}
.menu li{
    list-style: none;
    display: inline-block;
}
.menu li a{
    text-decoration: none;
    color: rgb(110, 83, 63);
    font-size: 27px;
    font-weight: 600;
    margin-left: 25px;
    transition: 0.5s ease;
}
.menu li a:hover{
    color: black;
    padding: 5px 10px;
}
.home{
    height: 400px;
    padding: 70px;
}
.title-1{
    font-size: 56px;
    color: rgb(0,0,0,);
    font-weight: 600;
}
.home p{
    color: rgb(110, 83, 63);
    font-size: 30px;
    padding-top: 10px;
}
button{
    height: 40px;
    color: #fff;
    background: crimson;
    font-size: 22px;
    padding: 5px 30px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    transition: .4s ease;
    cursor: pointer;
}
button:hover{
    background: red;
    border: 2px solid #fff;

}
.footer{
    position: static;
    display: -webkit-inline-flex;
    background-color: transparent;
    box-shadow: 0 50px 100px;
    width: 30%;
    height: 500px;
    border-radius:100%/ 50%;
}
.footer h2{
    font-size: 35px;
    color: wheat;
    margin-left: 100px;
    padding-top: 20%;
    text-decoration: underline;
}
.footer p{
    font-size: 20px;
    color: burlywood;
    left: 20px;
    margin-left: 70px;
    margin-bottom: 20px;
    padding-top: 10%;
}
.location h1{
    color: wheat;
    font-size: 28px;
    margin-bottom: 20px;
}
.location iframe{
    height: 200px;
    width: 300px;
    filter: invert(100%);
    padding-left: 30%; 
}
